h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.name{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.onery{
    padding-left: 180px;
}
.name img{
    border-radius: 180px;
}

.oner{
    padding-right: 100px;
}
.name .oner{
    font-size: 24px;
    margin: 10px;
}
.box img{
    border-radius: 180px;
}
.box{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.box p{
    font-size: 24px;
    margin: 10px;
}
.one {
    flex: 1 1 0;
    padding-left: 180px;
}

.two {
    flex: 1 1 0;
    padding-right: 100px;
}
.box .one .two{
    margin: 10px;
}
/*projects list*/
.flx-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 180px;
    padding-right: 100px;
}
.three{
    flex: 1 1 1;
    border: 1px solid black;

}
.four{
    flex: 1 1 1;
    border: 1px solid black;
}
.five{
    flex: 1 1 1;
    border: 1px solid black;
}
h4{
    font-size: 24px;
    font-style: oblique;
    color: blue;
    text-align: center;
}
.flx-container p{
    font-size: 20px;
}
a{
    font-size: 30px;
}
ul{
    list-style-type: none;
}